<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수강신청 성공!</title>
    <style>
        .finsh-image{
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img class="finsh-image" src="/images/finsh.png" alt="신청성공">
    <script th:inline="javascript">
        const USER_ID = /*[[${userId}]]*/ 'testuser';
        
        setTimeout(function() {
            window.location.href = '/test?userId=' + USER_ID;
        }, 3500);
    </script>
</body>
</html>